version: '3'

services:
  web:
    container_name: simple_tools
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3002:3000"
    environment:
      - NODE_ENV=production
